body{
    background-color: white;
}
nav{
      list-style: none;
  display: flex;
  width: 848px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 0;
  overflow-x: auto;
  background-color: black;


}
nav div{
  padding: 0;
  margin: 0 16px;
  color: #fff;
  font-size: 0.9em;
  box-sizing: border-box;
  flex-shrink: 0;
}
nav div a {
    display: inline-block;
    line-height: 2em;
    border-bottom: 2px solid;
    border-bottom-color: transparent;
    color: antiquewhite;
}

@media screen and (max-width: 560px) {
    nav{
        background-color: inherit;
    }
}